* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border-radius: 4px;
  border: 2px solid rgba(58, 58, 70, 0.493);
}

.container h1 {
  text-align: center;
  background-color: royalblue;
  color: #eee;
  text-shadow: rgba(50, 24, 14, 0.66) -4.7px -2px 4.7px;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 0;
  width: 100%;
}

#add-shadow {
  font-size: 45px;
  /* text-shadow: 5px 5px #558abb; */
  border: 0;
  background-color: #eee;
}

.controls {
  text-align: center;
}
.controls h3 {
  padding-top: 25px;
  border-top: 2px solid rgba(58, 58, 70, 0.493);
}

#form {
  display: flex;
  padding: 10px;
}

.col {
  padding: 10px 40px;
}
.shadow.col {
  position: relative;
  /* border-right: 1px solid black; */
}
.shadow.col::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  bottom: 15px;
  background-color: rgba(0, 0, 0, 0.6);

  width: 2px;
}

.option {
  display: flex;
  flex-direction: column;
  position: relative;
}
.option-labels {
  display: flex;
  justify-content: space-between;
}

.pixels-box input {
  width: 35px;
  text-align: center;
}

.results {
  margin: 20px 0;
}

#results-text {
  /* border: 2px solid red; */

  padding: 20px;
  font-size: 18px;
  word-spacing: 7px;
}
